@model ServiTec.Database.Models.Producto

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>Esta seguro de que desea eliminar este producto?</h3>
<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
<<<<<<< HEAD
            @Html.DisplayNameFor(model => model.UrlImagen)
        </dt>

        <dt>
            <img src="@Model.UrlImagen" alt="@Model.Descripcion" style="width:200px; height:auto;" />
        </dt>

        <dt>
            @Html.DisplayFor(model => model.Categoria)
=======
            Categoría
>>>>>>> 0a23368ca8414b2a368072991d98d41a904b86f1
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
<<<<<<< HEAD
            @Html.ActionLink("Volver a Lista", "Index")
=======
            @Html.ActionLink("Back to List", "Index")
>>>>>>> 0a23368ca8414b2a368072991d98d41a904b86f1
        </div>
    }
</div>
