@model ServiTec.Database.Models.Categoria

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

<div>
    <h4>Categoria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.Id }) |
<<<<<<< HEAD
    @Html.ActionLink("Volver a Lista", "Index")
=======
    @Html.ActionLink("Back to List", "Index")
>>>>>>> 0a23368ca8414b2a368072991d98d41a904b86f1
</p>
